@using System.Web.Optimization
@model PathFinder.Models.Account

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PathFinder</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Image.css")" rel="stylesheet" type="text/css"/>
    <script src="@Url.Content("~/Scripts/modernizr-2.6.2.js")"></script>
    <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-fixed-top" style="background-color: #b3ccff">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="@Url.Action("Index","Home")"><img src="@Url.Content("~/Content/PathFinderlogo.png")" class="navbar-brand Logo" alt="PathFinder" /><span class="navbar-brand">PathFinder</span></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Accessories</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Keyboards</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Software</a></li>
                    </ul>
                </li>
            </ul>
                
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle glyphicon glyphicon-user" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                    <ul class="dropdown-menu">
                        <li><a>Log in</a></li>
                        <li><a data-toggle="modal" data-target="#myModal">Sign up</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn glyphicon glyphicon-search" style="background-color: transparent; color: white; margin: -5px"></button>
            </form>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
   
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="background-color: wheat">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Register to PathFinder</h4>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("Index", "Account", FormMethod.Post))
                    {
                        <div class="control-group">
                            <!-- Username -->
                            <label class="control-label" for="username">Username</label>
                            <div class="controls">
                                <input type="text" id="username" name="username" placeholder="Username" class="input-xlarge" required>
                                <p class="help-block">Username can contain any letters or numbers, without spaces</p>
                            </div>
                        </div>

                        <div class="control-group">
                            <!-- E-mail -->
                            <label class="control-label" for="email">E-mail</label>
                            <div class="controls">
                                <input type="text" id="email" name="email" placeholder="abc@123.com" class="input-xlarge" required>
                                <p class="help-block">Please provide your E-mail</p>
                            </div>
                        </div>

                        <div class="control-group">
                            <!-- Password-->
                            <label class="control-label" for="password">Password</label>
                            <div class="controls">
                                @Html.TextBoxFor(m => m.Password, new {@type = "password", @placeholder = "Password", @class = "input-group-lg"})
                                <input type="password" id="password" name="password" placeholder="Password" class="input-xlarge" required>
                                <p class="help-block">Password should be at least 4 characters</p>
                            </div>
                        </div>

                        <div class="control-group">
                            <!-- Password -->
                            <label class="control-label" for="password_confirm">Password (Confirm)</label>
                            <div class="controls">
                                
                                <input type="password" id="password_confirm" name="password_confirm" placeholder="Confirm password" class="input-xlarge">
                                <p class="help-block">Please confirm password</p>
                            </div>
                        </div>

                            }
                        </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-primary">
                </div>
            </div>
        </div>
    </div>
<div class="container body-content">
        @RenderBody()
        
        <footer id="footer">
            <p>&copy; @DateTime.Now.Year - Waseem Kara</p>
        </footer>
    </div>


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
    
</body>
</html>